* {
    margin: 0%;
    padding: 0%;
}

@media screen and (min-width: 765px) {
header {
    width: 1536px;
    height: 70px;
    background-color: #303D4E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #4A9E86;
    font-size: 40px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    margin-left: 30px;
}

#menu {
    width: 400px;
	display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-right: 20px;
}

#menu a:hover {
	color: rgb(185, 185, 245);
}

#menu a:active {
	color: rgb(100, 65, 123);
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
}
main {
    background-color: #74147B;
    width: 1536px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 10, 0.071); */

}
#mainDiv {
    width: 1500px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
#mainPara {
    width: 500px;
    min-height: 400px;
    color: rgb(251, 252, 252);
    font-size: 15px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
p {
    margin-top: 20px;
    font-size: 15px;
}
img{
    width: 600px;
    height: 340px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
footer {
    width: 1536px;
    height: 275px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#blocks {
    width: 1500px;
    height: 275px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#block {
    width: 350px;
    height: 200px;
    border-radius: 10px;
    background-color: #4A9E86;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
    color: white;
}

#block p {
    font-weight: 300;
}

h3{
    margin-top: 10px;
}
}

@media screen and (max-width: 765px) {
    header {
        width: 765px;
        background-color: #303D4E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    header h1 {
        color: #4A9E86;
        font-size: 40px;
        font-weight: 500;
        font-family: "Rubik", sans-serif;
        margin: 10px 30px;
        
        
    }
    
    #menu {
        width: 350px;
        display: flex;
        justify-content: space-evenly;
        align-items: end;
        margin-right: 20px;
    }
    
    #menu a:hover {
        color: rgb(185, 185, 245);
    }
    
    #menu a:active {
        color: rgb(100, 65, 123);
        text-decoration: underline;
    }
    
    a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        font-weight: 300;
        font-family: "Rubik", sans-serif;
    }
    main {
        background-color: #74147B;
        width: 765px;
        height: 650px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    #mainDiv {
        width: 500px;
        height: 800px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    #mainPara {
        width: 300px;
        color: rgb(251, 252, 252);
        font-size: 15px;
        font-weight: 500;
        font-family: "Rubik", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    p {
        margin-top: 20px;
        font-size: 10px;
    }
    img{
        width: 700px;
        height: 500px;
        border-radius: 10px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
         /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 10, 0.071); */
    }
    footer {
        width: 765px;
        height: 850px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    #blocks {
        width: 765px;
        height: 800px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    #block {
        width: 600px;
        height: 200px;
        border-radius: 10px;
        background-color: #4A9E86;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        font-size: 20px;
        font-weight: 500;
        font-family: "Rubik", sans-serif;
        color: white;
    }
    
    #block p {
        font-weight: 300;
        font-size: 15px;
    }
    
    h3{
        margin-top: 10px;
    }

}